:root{
    --BgColor: #20252A;
    --FontColorWhite: #ffffff;
    --BtnColor: #FFD900;
    --SecondColor: #2D353C;
    --OrangeColor : #E38B18;
    --Padding1: 8%;
    --Padding2: 4%;
    --Padding3: 2%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#body{
    background-color: var(--BgColor);
    padding: 0px var(--Padding2);
    color: var(--FontColorWhite);
}

html{
    font-size: 20px;
}

span {
    color: var(--OrangeColor);
}

#profile_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--Padding2);
}

#profile_header .left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 30px;
    height: 100%;
    width: 50%;
}
#profile_header #main-left-side{
    background-color: var(--SecondColor);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: var(--Padding2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

#profile_header button a {
    text-decoration: none;
    list-style: none;
    color: var(--FontColorWhite);
}

#profile_header .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
}

#profile_header .right-side div{
    width: 100%;
    display: flex;
    justify-content: center;
}

#profile_header .right-side #profile_socials{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

#profile_header .right-side #profile_img{
    width: 65%;
}

#profile_header .right-side #profile_socials img{
    width: 44px;
    height: 44px;
}

#profile_main{
    margin-top: 100px;
    min-height: 100vh;
    height: auto;
    display: flex;
    column-gap: 10px;
}

#profile_main #main_skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#profile_main #main_skills .accordion-flush *{
    background-color: var(--SecondColor);
    color: var(--FontColorWhite);
    border-radius: 10px !important;
}

#profile_main #main_skills .accordion-flush{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.accordion-button::after{
    background-image: url(./icons/arrow.png) !important;
}

#profile_main #main_reviews{
    background-color: var(--SecondColor);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    min-height: 50%;
}
#profile_main #main_reviews #main_reviews_comments{
    background-color: var(--BgColor);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: var(--Padding3);
}

#profile_main #main_reviews #main_reviews_commented{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#profile_main #main_reviews #main_reviews_comment{
    border-radius: 10px;
    display: flex;
    column-gap: 50px;
}
#profile_main #main_reviews #main_reviews_Review{
    padding: var(--Padding3) 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    height: auto;
}
#profile_main #main_reviews #main_reviews_Review #main_reviews_date{
    align-self: flex-end;
    opacity: 0.6;
}

#profile_main #main_reviews #main_reviews_comment img{
    width: 100px;
    height: 100px;
}



/* profile Css Section */

#projects_header{
    display: flex;
    justify-content: space-between;
    padding: var(--Padding3);
    align-items: center;
}

#projects_header > h1{
    font-size: 3.2rem;
}

#projects_actions{
    padding: var(--Padding3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projects_actions a{
    text-decoration: none;
    color: var(--FontColorWhite);
}

#projects_actions .btn-secondary{
    background-color: var(--SecondColor);
    border-width: none !important;
    outline: none !important;
    border: none;
}
#projects_actions .btn-warning{
    color: var(--FontColorWhite);
}

#projects_main {
    background-color: var(--SecondColor);
    margin: var(--Padding3);
    padding: 1%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

#projects_main .card{
    background-color: var(--BgColor);
    color: var(--FontColorWhite);
}

#projects_main .card img{
    width: 50%;
    height: 50%;
    align-self: center;
}

#projects_main a{
    color: var(--FontColorWhite); 
}

#projects_actions .modal-content,.modal-dialog .modal-content, #projects_main .modal-content{
    background-color: var(--BgColor);
}

#projects_main code{
    font-size: x-large;
}

#projects_main .projects_main_content{
    border: 1px solid white;
    padding: var(--Padding3);
    border-radius: 10px;
}

#projects_main .card {
 width: 15rem !important;
 height: auto !important;
}

.row{
    display: flex !important;
}


/* Media Query Section */

@media only screen and (max-width : 600px) {
    html{
        font-size: 12px;
    }
    #profile_header{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 30px;
    }

    #profile_main #main_reviews #main_reviews_comment{
        column-gap: 15px;
    }

    #profile_header .left-side{
        width: 100%;
    }

    #profile_main {
        flex-direction: column;
        row-gap: 10px;
    }

}