:root{
    --BgColor: #20252A;
    --FontColorWhite: #ffffff;
    --BtnColor: #FFD900;
    --SecondColor: #2D353C;
    --OrangeColor : #E38B18;
    --Padding1: 8%;
    --Padding2: 4%;
    --Padding3: 2%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#body{
    background-color: var(--BgColor);
    padding: 0px var(--Padding2);
    color: var(--FontColorWhite);
}

html{
    font-size: 20px;
}

span {
    color: var(--OrangeColor);
}

#projects_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--Padding2);
}

#projects_header .left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 30px;
    height: 100%;
    width: 50%;
}
#projects_header #main-left-side{
    background-color: var(--SecondColor);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: var(--Padding2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

#projects_header button a {
    text-decoration: none;
    list-style: none;
    color: var(--FontColorWhite);
}

#projects_header .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
}

#projects_header .right-side div{
    width: 100%;
    display: flex;
    justify-content: center;
}

#projects_header .right-side #profile_socials{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

#projects_header .right-side #profile_img{
    width: 65%;
}

#projects_header .right-side #profile_socials img{
    width: 44px;
    height: 44px;
}
@media only screen and (max-width : 600px) {
    html{
        font-size: 12px;
    }
    #projects_header{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 30px;
    }

    #projects_main #main_reviews #main_reviews_comment{
        column-gap: 15px;
    }

    #projects_header .left-side{
        width: 100%;
    }

    #projects_main {
        flex-direction: column;
        row-gap: 10px;
    }
}
#contact-temo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#temo1{
    background-color: #2D353C;
    max-width: 100% ;
    max-height: 100% ;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 10px;
}
#user1  {
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 10px;
}
#text1  {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#temo2{
    background-color: #2D353C;
    max-width: 100% ;
    max-height: 100% ;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 10px;
}
#user2  {
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 10px;
}
#text2  {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
#temo3{
    background-color: #2D353C;
    max-width: 100% ;
    max-height: 100% ;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 10px;
}
#user3  {
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 10px;
}
#text3  {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
#temo1 button a {
    text-decoration: none;
    list-style: none;
    color: var(--FontColorWhite);
}
#temo2 button a {
    text-decoration: none;
    list-style: none;
    color: var(--FontColorWhite);
}
#temo3 button a {
    text-decoration: none;
    list-style: none;
    color: var(--FontColorWhite);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #141514;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #fa8e00;
  
}